

    body {background-color: lightpink;}
    p {font-family: verdana; font-size: 250%; color: green; text-align:left;}
    h1 {color:darkgreen;text-align:left;}
    h2 {color:darkred;text-align:center;}
    h3 {color:blue;text-align:left;}